#edit-list {
  width: 500px;
  white-space: pre;
  word-wrap: normal;
  font-family: monospace;
}
#edit-anonymity {
  margin-bottom: 20px;
}

#cheat-info {
  display: none;
  position: fixed;
  top: 78px;
  right: 0;
  width: 193px;
  padding: 10px 2px 10px 18px;
  background: #F7F7F4;
  box-shadow: 0 0 15px rgba(0, 0, 0, .7);
}
.cheat-info-true-count {
  font-weight: bold;
  color: green;
}

#cheat-log {
  display: none;
  margin-top: 40px;
  padding-bottom: 20px;
}
#cheat-log.in-work {
  background: url(loader.gif) 0 bottom no-repeat;
}
#cheat-log .message-date {
  padding-right: 5px;
  font-size: 11px;
  color: #FF8040;
}
#cheat-log .message-finish {
  background: red;
  color: white;
}
#cheat-log .green {
  color: green;
}
#cheat-log .red {
  color: red;
}
#cheat-log .blue {
  color: blue;
}
#cheat-log .bold {
  font-weight: bold;
}
#cheat-log hr {
  display: inline-block;
  width: 80%;
  height: 1px;
  background: #cccccc;
  position: relative;
  top: -4px;
}
